.ce-main {
    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 999;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);


    color: white;
    font-size: 30px;

    background-color: red;
}

#ce-name {
    font-size: 30px;
    color: white;
}

#ce-button {
    padding: 60px 30px;
    font-size: 30px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    color: white;
}
